{% extends 'base.html' %}

{% block center %}
    <h2>Cadastro da Cidade</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nome" class="form-label">Nome da Cidade</label>
            {{ form.nome }}
        </div>

        <div class="mb-3"> 
            <label for="nome" class="form-label">Sigla do Estado</label>
            {{ form.sigla_estado}}
        </div>

        <button type="submit" class="btn btn-primary">
            Enviar
        </button>
    </form>
{% endblock %}